.drug {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 170px;
}

.img {
    width: 100%;
    background-image: url("https://loremflickr.com/cache/resized/65535_50608049121_ca39c59dc6_q_140_100_nofilter.jpg");
    height: 100px;
    margin: 0 auto;
    border-radius: 8px;
}

.name {
    font-weight: bold;
}

.description {
    font-size: 0.8em;
}

.view-btn {
    width: 100%;
}